<div class="container">
  <div class="container-inner inner-default clearfix">
    <% amazon_items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% # 商品画像 %>
            <% url = item.get("LargeImage/URL") %>
            <% if url.present? %>
              <%= image_tag(url, alt: item.get('ItemAttributes/Title')) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.get('ItemAttributes/Title')) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <% # 商品タイトル %>
            <%= item.get("ItemAttributes/Title") %>
          </p>
        </div>
        <div class="action clearfix">
          <% item_db = Item.find_by(:asin => item.get('ASIN')) %>
          <% if !item_db.nil? && current_user.want?(item_db) %>
            <%= render('items/unwant' , item: item_db) %>
          <% else %>
            <%= link_to "" , ownerships_path(asin: item.get('ASIN') , type: "Want") ,
                        :class => "want-#{item.get('ASIN')} btn-want btn btn-danger btn-sm want",
                        :remote => true,
                        :method => :post %>
          <% end %>
          <% if !item_db.nil? && current_user.have?(item_db) %>
            <%= render('items/unhave' , item: item_db) %>
          <% else %>
            <%= link_to "" , ownerships_path(asin: item.get('ASIN') , type: "Have") ,
                        :class => "have-#{item.get('ASIN')} btn-have btn btn-warning btn-sm have",
                        :remote => true,
                        :method => :post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>